*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-main: hsl(0, 0%, 0%);
    --bg-light: hsl(0, 0%, 7%);
    --bg-lighter: hsl(0, 0%, 10%);

    --text-main: hsl(0, 0%, 100%);
    --text-muted: hsl(0, 0%, 80%);

    --brand-accent: hsl(125, 100%, 50%);
    --button-hover: hsl(125, 100%, 40%);

    --transition: 200ms ease-in;
}

html, body {
    background-color: var(--bg-main);
    min-height: 100%;
    color: var(--text-muted);
    scroll-behavior: smooth;
}

h1, h2, h3 {
    color: var(--text-main);
}

h1 .highlight, h2 .highlight {
    color: var(--brand-accent);
}

a:not(.button) {
    color: var(--text-muted);
    transition: color var(--transition), fill var(--transition);
}

a:not(.button):hover {
    color: var(--text-main);
}

.button {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    padding: 1rem 1.5rem;
    background-color: var(--brand-accent);
    border: none;
    color: hsl(0, 0%, 0%);
    border-radius: 6px;
    cursor: pointer;
    transition: background-color var(--transition);
}

.button:hover {
    color: hsl(0, 0%, 0%);
    background-color: var(--button-hover);
}

.button-small {
    padding: 0.75rem 1.125rem;
}

.menu-button {
    background-color: transparent;
    text-align: center;
    cursor: pointer;
    display: flex;
    border: none;
}

.menu-button svg path {
    fill: var(--text-main);
}

.tag {
    display: inline-block;
    width: fit-content;
    height: fit-content;
    padding: 0.25rem 0.75rem;
    margin-bottom: 0.75rem;
    color: var(--brand-accent);
    border: 1px solid var(--brand-accent);
    z-index: 990;
    border-radius: 12px;
}

/* .tag::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: var(--brand-accent-gradient); */
    /* background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; */
    /* border-radius: 12px;
} */

.section:not(.hero) {
    scroll-margin-top: 5.125rem;
}

.section .container {
    margin: 0 auto;
    width: min(calc(100% - 2.5rem), 80rem);
}

.section:not(.header, .footer, .hero) .container {
    padding: 6rem 0;
}

.section.hero .container {
    padding: calc(9rem + calc(5.5rem / 2)) 0 9rem;
}

.section.footer .container {
    padding: 2.5rem 0;
}

.navigation-links {
    height: 100%;
    display: flex;
    align-items: center;
    list-style: none;
    gap: 2.5rem;
}

.navigation-links li, .navigation-links li a:not(.button){
    height: 100%;
}

.navigation-links a:not(.button) {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width: 1080px) {
    .section.about .container{
        flex-direction: column-reverse;
        gap: 4rem;
    }

    .section.about .img img {
        width: 100%;
        max-width: 500px;
        height: auto;
        aspect-ratio: 1 / 1;
    }
    
    .section.about .heading {
        text-align: center;
    }
    
    .section.about .text > p {
        text-align: center;
        max-width: 32rem;
    }
}

@media (max-width: 848px) {
    .section.hero .container::before {
        background-image: 
        linear-gradient(90deg, #000000 20%, #0000 90%),
        url(https://ahmedmarwandev.github.io/personal-training-landing-page/assets/images/hero/bodybuilder-training-arm-with-resistance-band.webp);
        opacity: 0.56;
    }
}

@media (max-width: 780px) {
    .section.footer .top{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }
}

@media (max-width: 740px) {
    :root {
        --font-h1: normal 400 3rem/1 var(--font-family-heading);
        --font-h2: normal 400 2.5rem/1.1 var(--font-family-heading);
    }
    
    .section.hero h1 {
        max-width: 27rem;
    }
    
    .section.about .container {
        gap: 3rem;
    }

    .section.programs .heading {
        margin-bottom: 3rem;
    }

    .section.testimonials .heading {
        margin-bottom: 3rem;
    }

    .section:not(.header, .footer, .hero) .container {
        padding: 4rem 0;
    }
    
    .section.hero .container {
        padding: calc(7rem + calc(5.5rem / 2)) 0 7rem;
    }
}

@media (max-width: 624px) {
    .section.testimonials .cards .card {
        flex: 1 1 17rem;
    }
}

@media (max-width: 520px) {
    :root {
        --font-h1: normal 400 2.5rem/1.1 var(--font-family-heading);
        --font-h2: normal 400 2rem/1.2 var(--font-family-heading);
    }

    .section.hero h1 {
        max-width: 20rem;
    }

    .section.testimonials .cards .card {
        padding: 2.5rem 1.5rem;
    }

    .section.footer .bottom{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .section.footer .copyright {
        text-align: center;
    }

    .section.footer .navigation-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 1.5rem;
    }
    
    .section.footer .social-links {
        gap: 0;
    }
}

@media (max-width: 420px) {
    .section.hero .container::before {
        background-image:
        linear-gradient(90deg, #000000 10%, #00000000 80%),
        url(https://ahmedmarwandev.github.io/personal-training-landing-page/assets/images/hero/bodybuilder-training-arm-with-resistance-band.webp);
    }

    .navigation.header-navigation{
        width: 100%;
        background-color: hsla(0, 0%, 0%, 1);
    }
}

@media (max-width: 360px) {
    .section.programs .cards .card {
        padding: 1.25rem;
        flex: 1 1 15rem;
    }

    .section.testimonials .cards .card {
        padding: 2.5rem 1.25rem;
        flex: 1 1 15rem;
    }
}