/* HEADER
========================================================================================================
*/

.section.header {
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
    /* backdrop-filter: blur(4px); */
    background-color: hsla(0, 0%, 0%, 0.65);
}

.section.header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.75rem;
}

.section.header .logo {
    display: flex;
}

.section.header .logo svg path {
    fill: var(--light-text);
}

.section.header .navigation-links a {
    color: hsl(0, 0%, 82%);
}

.section.header .navigation-links a:hover {
    color: var(--light-text);
}

/* HERO
========================================================================================================
*/

.section.hero .container {
    position: relative;
    z-index: 99;
}

.section.hero .container::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    inset: 0;
    filter: grayscale(1);
    background-image:
        linear-gradient(90deg, #000000 20%, #0000 90%),
        linear-gradient(90deg, #0000 90%, #000 100%),
        url(../assets/images/hero/bodybuilder-training-arm-with-resistance-band.jpg);
    background-repeat: no-repeat;
    background-position: -90% -10%;
    background-size: cover;
    z-index: -1;
}

.section.hero .img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1200px;
    z-index: 0;
}

.section.hero h1 {
    max-width: 30rem;
    margin-bottom: 1rem;
}

.section.hero .subheading {
    max-width: 28rem;
    margin-bottom: 2rem;
}

/* ABOUT
========================================================================================================
*/


.section.about .container{
    display: flex;
    align-items: center;
    gap: 3.5rem;
}

.section.about .left img {
    object-fit: cover;
    object-position: 10% 100%;
    filter: brightness(0.9) grayscale(1);
    border-radius: 16px;
}


.section.about .heading {
    margin-bottom: 1.75rem;
}

/* PROGRAMS
========================================================================================================
*/

.section.programs .heading {
    text-align: center;
    margin-bottom: 4rem;
}

.section.programs h2 {
    margin-bottom: 1rem;
}

.section.programs .cards {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.section.programs .cards .card {
    flex: 0 0 18rem;
    background-color: var(--dark-bg-light);
    padding: 2rem 1.5rem;
    border-radius: 8px;
    text-align: center;
}

.section.programs .cards .card .icon {
    margin: 0 auto;
    margin-bottom: 1rem;
    display: grid;
    place-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--brand-accent);
    color: var(--dark-text);
    border-radius: 1000px;
    font-size: 1.5rem;
    font-weight: 700;
}

.section.programs .cards .card h3 {
    margin-bottom: 0.5rem;
}

/* TESTIMONIALS
========================================================================================================
*/

.section.testimonials .heading {
    text-align: center;
    margin-bottom: 4rem;
}

.section.testimonials .cards {
    display: flex;
    justify-content: center;
    gap: 2.5rem;
    flex-wrap: wrap;
}

.section.testimonials .cards .card {
    flex: 0 0 32rem;
    padding: 2.5rem;
    border-radius: 8px;
    box-shadow: 0 0 12px hsla(0, 0%, 0%, 0.25);
}

.section.testimonials .cards .card > .text {
    margin-bottom: 2rem;
}

.section.testimonials .cards .card .text .icon {
    display: flex;
    margin-bottom: 0.75rem;
    color: var(--brand-accent);
}

.section.testimonials .cards .card .author {
    display: flex;
    gap: 1rem;
}

.section.testimonials .cards .card .author .icon {
    aspect-ratio: 1 / 1;
}

.section.testimonials .cards .card .author .icon svg path{
    align-self: stretch;
    fill: var(--dark-text);
}

.section.testimonials .cards .card .author .subheading{
    color: var(--dark-text);
}

/* CONTACT
========================================================================================================
*/

.section.contact .heading {
    text-align: center;
    margin-bottom: 2rem;
}

.section.contact h2 {
    margin-bottom: 1rem;
}

.section.contact .subheading {
    margin: 0 auto;
    max-width: 30rem;
}

.section.contact .button {
    margin: 0 auto;
}

/* FOOTER
========================================================================================================
*/

.section.footer .logo {
    display: flex;
}

.section.footer .logo svg path{
    fill: var(--light-text);
}

.section.footer .top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.75rem;
}

.section.footer .bottom {
    border-top: 1px solid var(--light-text-muted);
    padding-top: 1.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.section.footer .navigation-links a {
    color: var(--light-text-muted);
}

.section.footer .navigation-links a:hover {
    color: var(--light-text);
}

.section.footer .social-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.section.footer .social-links a {
    display: flex;
    padding: 0.5rem;
}

.section.footer .social-links svg path{
    fill: var(--light-text-muted);
}

.section.footer .social-links a:hover svg path{
    fill: var(--light-text);
}