@font-face {
    font-family: "Anton";
    src:
        url(https://ahmedmarwandev.github.io/personal-training-landing-page/assets/fonts/Anton/subset-Anton-Regular.woff2) format("woff2"),
        url(https://ahmedmarwandev.github.io/personal-training-landing-page/assets/fonts/Anton/subset-Anton-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src:
        url(https://ahmedmarwandev.github.io/personal-training-landing-page/assets/fonts/Roboto/subset-Roboto-Regular.woff2) format("woff2"),
        url(https://ahmedmarwandev.github.io/personal-training-landing-page/assets/fonts/Roboto/subset-Roboto-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src:
        url(https://ahmedmarwandev.github.io/personal-training-landing-page/assets/fonts/Roboto/subset-Roboto-SemiBold.woff2) format("woff2"),
        url(https://ahmedmarwandev.github.io/personal-training-landing-page/assets/fonts/Roboto/subset-Roboto-SemiBold.woff) format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-family-heading: "Anton", sans-serif;
    --font-family: "Roboto", sans-serif;

    --font-h1: normal 400 3.5rem/1 var(--font-family-heading);
    --font-h2: normal 400 3rem/1.1 var(--font-family-heading);
    --font-h3: normal 600 1.25rem/1.3 var(--font-family);
    --font-body: normal 400 1rem/1.5 var(--font-family);
    --font-subheading: normal 400 1.125rem/1.4 var(--font-family);
    --font-subheading-bold: normal 600 1.125rem/1.4 var(--font-family);
    --font-button: normal 600 1.125rem/1 var(--font-family);
    --font-tag: normal 600 0.875rem/1 var(--font-family);

    --letter-spacing-h1: 0;
    --letter-spacing-h2: 0;
    --letter-spacing-h3: 0;
    --letter-spacing-body: 0;
    --letter-spacing-subheading: 0;
    --letter-spacing-button: 0;
    --letter-spacing-tag: 0;
}

body {
    font-family: var(--font-family);
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font: var(--font-h1);
    letter-spacing: var(--letter-spacing-h1);
}

h2 {
    font: var(--font-h2);
    letter-spacing: var(--letter-spacing-h2);   
}

h1 .highlight, h2 .highlight {
    font: inherit;
    letter-spacing: inherit;
}

h3 {
    font: var(--font-h3);
    letter-spacing: var(--letter-spacing-h3);
}

p, span, pre {
    font: var(--font-body);
    letter-spacing: var(--letter-spacing-body);
}

a {
    font: var(--font-body);
    letter-spacing: var(--letter-spacing-body);
}

.subheading {
    font: var(--font-subheading);
    letter-spacing: var(--letter-spacing-subheading);
}

.subheading-bold {
    font: var(--font-subheading-bold);
}

.button {
    font: var(--font-button);
    letter-spacing: var(--letter-spacing-button);
}

.tag {
    font: var(--font-tag);
    letter-spacing: var(--letter-spacing-tag);
}